<div class="home-container">
  <h1>Welcome to the Home Page</h1>
  <p>This is a simple Angular Home Page.</p>


  <button (click)="goToAddPostPage()">Add a Post</button>


  <div class="post-list">
    <div *ngFor="let post of posts" class="post">
      <h3>{{ post.title }}</h3>
      <img [src]="post.imageUrl" alt="Post Image" class="post-image">
      <p>{{ post.body }}</p>
      <button (click)="likePost(post)">
        <i class="fas fa-thumbs-up"></i> Like
      </button>
      <span class="like-count">{{ post.likes }} Likes</span>
      <button (click)="toggleComments(post)">Comment</button>

      <!-- Comments Section (Initially Hidden) -->
      <div class="comments" *ngIf="showComments">
        <h4>Comments:</h4>
        <ul>
          <li *ngFor="let comment of post.comments">
            <span>{{ comment.username }}:</span>
            {{ comment.body }}
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>